=render :partial => "partials/budget_header"

.row
  .col-md-9
    %h3= t('.latest_transactions')
    =render :partial => "transactions/list", :locals => {:transactions => @budget.transactions.this_month.order('date desc').limit(10)}

  .col-md-3
    //= render :partial => 'partials/budget_sidebar'

.row
  .col-md-6
    %h3 Budget Distribution
    .row
      .col-md-7
        %canvas#category-distribution{width: '300', height: '300'}
      .col-md-5
        .list-group
          -@budget.categories.all.each do |category|
            .list-group-item= category_box(category, "#{formated_currency(category.used_this_month)}".html_safe)





:javascript
  category_distribution_chart('#category-distribution',#{@statistics.category_distribution.to_json})
