%h4.list-group-head= t('sidebar.navigation')
.list-group
  =action_bar_link_to t('budgets.show.heading_addition'), @budget
  =action_bar_link_to t('budgets.transactions'), budget_transactions_path(@budget)
  =action_bar_link_to t('budgets.categories'), budget_categories_path(@budget)