-action ||= nil

.budget-header
  %h2
    = t("transactions.heading", :budget_name => @budget.name)
    %small= action unless action.blank?

  .row
    .col-md-12
      .progress.budget_bar
        = budgetbar(@budget,true) do
          =formated_currency(@budget.used_this_month, unit: @budget.currency)

  %ul.nav.nav-tabs.nav-justified
    =nav_tab_link_to t('budgets.show.heading_addition'), @budget
    =nav_tab_link_to t('budgets.transactions'), budget_transactions_path(@budget)
    =nav_tab_link_to t('budgets.new_transaction'), new_budget_transaction_path(@budget)
    =nav_tab_link_to t('budgets.categories'), budget_categories_path(@budget)
    =nav_tab_link_to t('budgets.manage_budget'), edit_budget_path(@budget)
