=form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f|
  =devise_error_messages!
  %fieldset
    %legend= t("devise.sessions.sign_in_title")

    .form-group
      =f.label :login, t("devise.sessions.label_login"), :class => "col-sm-4 control-label"
      .col-sm-8
        =f.text_field :login, :autofocus => true, :class => "form-control"

    .form-group
      =f.label :password, :class => "col-sm-4 control-label"
      .col-sm-8
        =f.password_field :password, :class => "form-control"

    -if devise_mapping.rememberable?
      .form-group
        =f.label :remember_me, :class => "col-sm-4 control-label"
        .col-sm-8
          =f.check_box :remember_me, :class => "form-control"

    .form-group
      .col-sm-offset-4.col-sm-8
        =f.submit t("devise.sessions.sign_in_button"), :class => "btn btn-primary btn-large form-control"
    .text-right
      %p= render "devise/shared/links"