/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory ./devise
 */

$gridColumnWidth: 70px !default;
$gridGutterWidth: 30px !default;
$gridRowWidth: (12 * $gridColumnWidth) + ($gridGutterWidth * 11) !default;
@import 'bootstrap';

body{
    background-color: $gray-lighter;
}

.manatee-logo {
  font-family: 'Changa One', cursive;
  color: #5E5E5E;
}

.container {
  padding-top: 40px;
}

.box{
  max-width: 480px;
  position: relative;
  border-radius: 5px;
  @include box-shadow(5px 5px 5px $gray-light);
  margin: auto;
  padding: 30px;
  background: white;
}


form {
  .control-label{
    font-weight: normal;
  }
}


@media (max-width: 767px) {
  .container {
    padding-top: 10px;
  }
}



