%table.table.table-striped
  -transactions.each do |transaction|
    %tr
      %td.small-column.text-muted
        = l(transaction.date, :format => :short)

      -unless @budget.single_user?
        %td.small-column
          =transaction.user.name

      %td
        = category_box(transaction.category,transaction.comment)

      %td.text-right
        = formated_currency transaction.amount
