%table.table.table-striped
  -transactions.each do |transaction|
    %tr.with-options
      %td.small-column.text-muted
        = l(transaction.date, :format => :short)

      -unless transaction.budget.single_user?
        %td.small-column
          =transaction.user.name

      %td
        = category_box(transaction.category,transaction.comment)

      %td.small-column.text-right{:style => "min-width:35px"}
        %span.options.hidden
          =link_to edit_budget_transaction_path(transaction.budget,transaction) do
            %i.glyphicon.glyphicon-pencil
          =link_to "javascript:void(0)", :class => "transaction-remove-link", :data => { :id => transaction.id, :budget => transaction.budget.id } do
            %i.glyphicon.glyphicon-remove

      %td.small-column.text-right
        = formated_currency transaction.amount
