=render :partial => "partials/budget_header"

.row
  .col-md-9
    .text-right
      %strong= formated_currency(@budget.used_this_month)
    =render :partial => "transactions/list", :locals => {:transactions => @transactions}



  .col-md-3
    %h4= t("sidebar.categories")
    .list-group
      =link_to budget_transactions_path(@budget,params.except(:categories)), :class => "list-group-item" do
        All Categories
        -unless params[:categories]
          %i.glyphicon.glyphicon-ok.pull-right

      -@budget.categories.each do |category|
        =category_filter_link(category)



    %h4= t("sidebar.sort_options")
    .list-group
      =action_bar_link_to t('transactions.index.transactions_by_sort', :sort => 'Category'), budget_transactions_path(@budget,params.merge(:sort => 'category'))
      =action_bar_link_to t('transactions.index.transactions_by_sort', :sort => 'Date'), budget_transactions_path(@budget,params.merge(:sort => 'date'))
      =action_bar_link_to t('transactions.index.transactions_by_sort', :sort => 'User'), budget_transactions_path(@budget,params.merge(:sort => 'user')) unless @budget.single_user?
