%h1.page-header
  = t("transactions.heading", :budget_name => @budget.name)
  %small= t(".heading_addition")

.row
  .col-md-9
    = render :partial => 'form'

  .col-md-3
    = render :partial => 'partials/budget_sidebar'
