@import "bootstrap/variables";
@import "bootstrap/mixins" ;

.main-container {
  max-width: 1220;
  padding-left:20px;
  padding-right:20px;
  @include box-shadow(0 0 5px $grayLight);
  background-color: white;
}
