@import "bootstrap/variables";

.budgets {
  .budget-summary {
    margin-bottom: 25px;
    font-size: 1.5em;

    .budget-description {
      font-size: 0.75em;
      color: $gray-light;
      margin-top: -15px;
    }
  }
}


.progress.budget_bar {
  height: 30px;

  .progress-bar {
    line-height: 30px;
    font-size: 20px !important;
  }
}