// Place all the styles related to the Summary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.treeview {
	& tr {
		border: none;
		&.header {
			background-color: #d9edf7;
		}
		&.footer {
		}
		&[data-tv-parent][data-tv-level="0"] {
			& > td:first-child {
			}
		}
		&[data-tv-parent][data-tv-level="1"] {
			& > td:first-child {
				padding-left: 5%;
			}
		}
		&[data-tv-parent][data-tv-level="2"] {
			& > td:first-child {
				padding-left: 10%;
			}
		}
		&.category {
			background-color: #dddddd;
		}
		&.date {
			background-color: #e4e4e4;
		}
		&.transaction {
			background-color: #eeeeee;
		}
		& td,th {
			border: none;
			&.empty {
			}
			&.fill {
			}
			&.currency {
				text-align: right;
				width: 125px;
			}
			&.date {
				width: 125px;
			}

			& span {
				& form {
					display: inline;
					& div {
						display: inline;
					}
				}
			}
		}
	}
}

form.filter-form {
	div {
	}
	.date {
		& div {
			margin-bottom: 1em;
			& input {
				display: block;
				margin-left: 1em;
			}
			& label {
				display: block;
			}
		}
	}
	.conditions {
		& div {
				display: inline-block;
				padding: 0px;
		}
		& > #condition-new {
			margin-bottom: 0.5em;
		}
		& > .condition {
		}
		& select.condition-connector {
			width: 70px;
		}
	}
	.buttons {
	}
}
