.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button{:type=>"button", :class=>"navbar-toggle", "data-toggle"=>"collapse", "data-target"=>".navbar-collapse"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.navbar-brand{:href=>root_url}
        =image_tag "manatee.png", :style => "width:20px"
        Manatee


    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{:class => (controller.controller_name=="welcome") ? "active":nil}
          %a{:href => root_path}
            %i.glyphicon.glyphicon-home
        %li{:class => (controller.controller_name=="budgets") ? "active":nil}
          %a{:href => budgets_path}
            %i.glyphicon.glyphicon-book
        %li{:class => (controller.controller_name=="categories") ? "active":nil}
          %a{:href => categories_path}
            %i.glyphicon.glyphicon-tags

      %ul.nav.navbar-nav.pull-right
        %li.dropdown
          %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
            =current_user.name
            %b.caret
          %ul.dropdown-menu
            %li
              =link_to "Account", edit_user_registration_path
            %li
              =link_to "Logout", destroy_user_session_path, :method => :delete
