!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content=> "width=device-width, initial-scale=1.0"}


    = stylesheet_link_tag "devise"
    = csrf_meta_tags
    = javascript_include_tag "application"

  %body
    .container

      .box
        %h1.text-center
          =image_tag "manatee.png", :width => "200"
          Manatee
        - if flash[:notice] or flash[:error] or flash[:alert]
          .row
            .span5
              -if flash[:notice]
                .alert.alert-success
                  %button{:type=>"button",:class=>"close","data-dismiss"=>"alert"}
                    &times;
                  =flash[:notice]

              -if flash[:error]
                .alert.alert-error
                  %button{:type=>"button",:class=>"close","data-dismiss"=>"alert"}
                    &times;
                  =flash[:error]

              - if flash[:alert]
                .alert.alert-notice
                  %button{:type=>"button",:class=>"close","data-dismiss"=>"alert"}
                    &times;
                  =flash[:alert]
        = yield



